.wrapper__container
    .partners
        .partners__title Партнёры
        .partners__box
            div.partners__box_item
                img(src="images/partners__1.jpg" alt="")
            div.partners__box_item
                img(src="images/partners__2.jpg" alt="")
            div.partners__box_item
                img(src="images/partners__3.jpg" alt="")
            div.partners__box_item
                img(src="images/partners__4.jpg" alt="")
            div.partners__box_item
                img(src="images/partners__5.jpg" alt="")
            div.partners__box_item
                img(src="images/partners__6.jpg" alt="")