.slider
    .owl-carousel.owl-theme
        .item(style="background: url('images/slider__back1.jpg') no-repeat center top;background-size: cover;")
            .slider__box
                .slider__content
                    .slider__content_title Испытания мебели для учебных заведений
                    .slider__content_text Кресла-кровати, кушетки, скамьи, банкетки, кресла-качалки, диваны, диваны-кровати, кресла для отдыха (в том числе детские кресла, диваны, диваны-кровати, скамьи, манежи)
                    a.slider__content_button(href="#") Подробнее
                    div.slider__content_img
        .item(style="background: url('images/slider__back2.jpg') no-repeat center top;background-size: cover;")
            .slider__box
                .slider__content
                    .slider__content_title Испытания мебели для учебных заведений
                    .slider__content_text Кресла-кровати, кушетки, скамьи, банкетки, кресла-качалки, диваны, диваны-кровати, кресла для отдыха (в том числе детские кресла, диваны, диваны-кровати, скамьи, манежи)
                    a.slider__content_button(href="#") Подробнее
                    div.slider__content_img
        .item(style="background: url('images/slider__back3.jpg') no-repeat center top;background-size: cover;")
            .slider__box
                .slider__content
                    .slider__content_title Испытания мебели для учебных заведений
                    .slider__content_text Кресла-кровати, кушетки, скамьи, банкетки, кресла-качалки, диваны, диваны-кровати, кресла для отдыха (в том числе детские кресла, диваны, диваны-кровати, скамьи, манежи)
                    a.slider__content_button(href="#") Подробнее
                    div.slider__content_img




