.wrapper__container
    .services-prev
        .services-prev__item
            .services-prev__item_title Удобное расположение  в Екатеринбурге
            .services-prev__item_text Территория промзоны такой-то, которая там-то Удобные подъезды для большегруза и длинномера Разгрузочные площади.
        .services-prev__item
            .services-prev__item_title Удобное расположение  в Екатеринбурге
            .services-prev__item_text Территория промзоны такой-то, которая там-то Удобные подъезды для большегруза и длинномера Разгрузочные площади.
        .services-prev__item
            .services-prev__item_title Удобное расположение  в Екатеринбурге
            .services-prev__item_text Территория промзоны такой-то, которая там-то Удобные подъезды для большегруза и длинномера Разгрузочные площади.
        .services-prev__item
            .services-prev__item_title Удобное расположение  в Екатеринбурге
            .services-prev__item_text Территория промзоны такой-то, которая там-то Удобные подъезды для большегруза и длинномера Разгрузочные площади.
    a.services-prev__button(href="#") все услуги
    .services-prev__sep