.wrapper__container
    .labs
        .labs__left
            .labs__gallery
                a.labs__gallery_item(href="images/labs__test.jpg" data-fancybox)
                    img(src="images/labs__test.jpg")
                a.labs__gallery_item(href="images/labs__test.jpg" data-fancybox)
                    img(src="images/labs__test.jpg")
                a.labs__gallery_item(href="images/labs__test.jpg" data-fancybox)
                    img(src="images/labs__test.jpg")
                a.labs__gallery_item(href="images/labs__test.jpg" data-fancybox)
                    img(src="images/labs__test.jpg")
                a.labs__gallery_item(href="images/labs__test.jpg" data-fancybox)
                    img(src="images/labs__test.jpg")
                a.labs__gallery_item(href="images/labs__test.jpg" data-fancybox)
                    img(src="images/labs__test.jpg")
        .labs__right
            .labs__title Лаборатория
            .labs__content
                p Базовая анимация довольно легко добавить на веб-сайты в настоящее время. Но есть движение к более ориентированным на пользователя анимациям, называемым  микроинтерпретациями,  которые происходят  из мобильных приложений  и продвигаются в Интернете.
                p Они работают как анимированные ответы на поведение пользователей. Поэтому, если кто-то нажимает кнопку или парит, чтобы анимировать раскрывающийся список, микроинтерпретация будет реагировать соответствующим.
            a.labs__button(href="#") читать дальше