.maps
    .wrapper__container
        .maps__box
            .maps__info
                 div
                     i.fa.fa-map-marker
                 div
                      span Екатеринбург, ул. Такая-то, 279
                      | (территория промбазы “Такой-то”) пн-пт с 9-00 до 16-00
            .maps__info
                div
                    i.fa.fa-mobile
                div
                    span 8 800 2000 600
                    span 8 800 2000 600
                    span 8 800 2000 600
            .maps__info
                div
                    i.fa.fa-envelope
                div
                    a(href="#") info@ispytanie-mebeli.ru
            div.footer__social.maps-social
                a(href="#")
                    i.fa.fa-facebook-square
                a(href="#")
                    i.fa.fa-vk
                a(href="#")
                    i.fa.fa-google-plus
