.wrapper__navigation
    ul.navigation
        li.navigation__list
            a.navigation__item.first(href='#') услуги производителям
            ul.navigation__submenu
                li.navigation__submenu_list
                    a.navigation__submenu_item(href='fasadnyie-podemniki.html') услуга
        li.navigation__list
            a.navigation__item(href='usloviya-arendyi.html') потребителям и продавцам
        li.navigation__list
            a.navigation__item(href='#') лаборатория
        li.navigation__list
            a.navigation__item(href='#') справочная информация
        li.navigation__list
            a.navigation__item(href='#') Контакты







