.wrapper__header
    .wrapper__container
        .top
            .top__logo
                a(href="/")
                    img(src="/images/header__logo.png", class="top__logo_images")
                div
                    .top__logo_big Испытательная Лаборатория Лесопромышленной Продукции
                    .top__logo_sm При Уральском государственном лесотехническом университете

            form.top__form
                input.top__form_input(placeholder="Ведите E-mail или Номер телефона")
                button.top__form_button Отправить заявку

            .top__info
                .top__info_phone 8 800 2000 600
                .top__info_city Екатеринбург, ул. Такая-то, 279
                .top__info_office (территория промбазы “Такой-то”) пн-пт с 9-00 до 16-00
            i.fa.fa-bars.top__mobile-click




