footer.footer
    .wrapper__container
        .footer__inner
            div
                .footer__nav-title услуги производителям мебели
                .footer__nav
                    a.footer__nav_item(href="#") Иcпытания мебели детской дошкольной
                    a.footer__nav_item(href="#") Испытания мебели для учебных заведений
                    a.footer__nav_item(href="#") Испытания корпусной мебели
                    a.footer__nav_item(href="#") Испытания мягкой мебели
                    a.footer__nav_item(href="#") Испытания мебели для сидения и лежания
                    a.footer__nav_item(href="#") Испытания матрасов
                    a.footer__nav_item(href="#") Испытания прочей мебели
                    a.footer__nav_item(href="#") Сертификация
            div
                .footer__nav-title потребителям и продавцам мебели
                .footer__nav
                    a.footer__nav_item(href="#") Информация о какой-нибудь важной фигне
                    a.footer__nav_item(href="#") Полезные статьи
                .footer__nav-title.mrg Справочная информация
                .footer__nav
                    a.footer__nav_item(href="#") Правила сертификации
                    a.footer__nav_item(href="#") Нормативные документы
                    a.footer__nav_item(href="#") Для чего нужно проводить испытания мебели
            div
                .footer__nav-title О нас
                .footer__nav
                    a.footer__nav_item(href="#") Лаборатория
                    a.footer__nav_item(href="#") Партнёры
                    a.footer__nav_item(href="#") Реквизиты
                    a.footer__nav_item(href="#") Контакты
                div.footer__social
                    a(href="#")
                        i.fa.fa-facebook-square
                    a(href="#")
                        i.fa.fa-vk
                    a(href="#")
                        i.fa.fa-google-plus
        div.footer__info © Испытательная Лаборатория Лесопромышленной Продукции при Уральском государственном Лесотехническом Университете