$color__page:#636363;
$background__footer:#f3f3f3;

$color_070000:#070000;
$color_888888:#888888;
$color_d1d1d1:#d1d1d1;
$color_247bfd:#247bfd;
$color_white:#fff;
$color_989898:#989898;
$color_c4c4c4:#c4c4c4;
$color_f3f3f3:#f3f3f3;
$color_636363:#636363;
$color_a7a7a7:#a7a7a7;
$color_2170e5:#2170e5;
$color_d1d1d1:#d1d1d1;
$color_a6a6a6:#a6a6a6;
$color-gray-md:#636363;
$color-button:#247bfd;
$color-button-hover:#41638e;
$color-navigation-hover:#195486;
$color-yellow:#ffef54;
$color-blue-fasad:#4aa9fb;
$color-border-bonus:#d5dade;
$color-back-index:#f3f3f4;
$color-blue-h1:#314763;
$color-back-footer:#314763;

$color-border-news:#d7d7d7;
$color-border-form:#336699;
$color-back-form:#f9f9f9;
$color-border-input:#ccc;
$color-table-border:#e1e1e1;
$color-table-back:#f6f6f6;
$fasad__arrow:#4eff00;



