.order
    form.wrapper__container
        div.order__box
            div.order__title Заявка на испытание мебели
            a.order__href(href="#") Для чего это нужно?
            a.order__href(href="#") Нормативные документы
        div.order__box-check
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check1")
                label.order__check_label(for="check1")
                  img.order__check_images(src="images/order__ic1.png" alt="")
                  div.order__check_content Детская дошкольная
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check2")
                label.order__check_label(for="check2")
                    img.order__check_images(src="images/order__ic2.png" alt="")
                    div.order__check_content Для Учебных заведений
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check3")
                label.order__check_label(for="check3")
                    img.order__check_images(src="images/order__ic3.png" alt="")
                    div.order__check_content Детская бытовая
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check4")
                label.order__check_label(for="check4")
                    img.order__check_images(src="images/order__ic4.png" alt="")
                    div.order__check_content Корпусная мебель
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check5")
                label.order__check_label(for="check5")
                    img.order__check_images(src="images/order__ic5.png" alt="")
                    div.order__check_content Мягкая мебель
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check6")
                label.order__check_label(for="check6")
                    img.order__check_images(src="images/order__ic6.png" alt="")
                    div.order__check_content Для сидения и лежания
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check7")
                label.order__check_label(for="check7")
                    img.order__check_images(src="images/order__ic7.png" alt="")
                    div.order__check_content Столы
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check8")
                label.order__check_label(for="check8")
                    img.order__check_images(src="images/order__ic8.png" alt="")
                    div.order__check_content Матрасы
            div.order__check
                input.order__check_input(type="checkbox" value="value" name="checkbox" id="check9")
                label.order__check_label(for="check9")
                    img.order__check_images(src="images/order__ic9.png" alt="")
                    div.order__check_content Прочая мебель
        div.order__form
            input.order__form_input(placeholder="Ведите E-mail или Номер телефона")
            input.order__form_input(placeholder="Ведите E-mail или Номер телефона")
            button.order__form_button Отправить заявку


