.navigation-mobile-box
    ul.navigation-mobile
        li.navigation-mobile__list
            a.navigation-mobile__item.first(href='#') услуги производителям
            ul.navigation-mobile__submenu
                li.navigation-mobile__submenu_list
                    a.navigation-mobile__submenu_item(href='#') услуга
        li.navigation-mobile__list
            a.navigation-mobile__item(href='#') потребителям и продавцам
        li.navigation-mobile__list
            a.navigation-mobile__item(href='#') лаборатория
        li.navigation-mobile__list
            a.navigation-mobile__item(href='#') справочная информация
        li.navigation-mobile__list
            a.navigation-mobile__item(href='#') Контакты
    i.fa.fa-times.navigation-mobile-box__close