doctype html
html
    head
        include layouts/head
    body
     include modules/top/top
     include modules/navigation/navigation
     include modules/slider/slider
     include modules/order/order
     include modules/services-prev/services-prev
     include modules/labs/labs
     include modules/maps/maps
     include modules/partners/partners
     include modules/footer/footer
     include modules/navigation-mobile/navigation-mobile
     include layouts/js